.editor {
  .listitem.extension-content {
    // the default `display: inline` makes a strange height in firefox
    display: inline-block;
  }

  li {
    position: relative;
    margin-bottom: 0;
  }

  li p:first-child {
    margin: 0;
  }
}
