.editor {
  .listitem.extension-content {
    // the default `display: inline` makes a srange downward float in firefox
    display: list-item;
  }

  li {
    position: relative;
    margin-bottom: 0;
  }

  li p:first-child {
    margin: 0;
  }
}
