@use "../../../theme";

.editor {
  .cm-wrap * {
    font-size: 85%;
    font-family: theme.var-of(fontFamilyMono);
  }

  .cm-focused {
    outline: none;
  }

  .cm-gutters {
    background-color: transparent !important;
    border: none !important;
  }
}
