@use "../../../theme";

.editor {
  .cm-wrap * {
    font-size: 94%;
    font-family: theme.var-of(fontFamilyMono);
  }

  .cm-focused {
    outline: none;
  }

  .cm-gutters {
    background-color: transparent !important;
    border: none !important;
  }

  .code {
    position: relative;
    display: flex;
    flex-direction: column;

    & > .panel {
      position: relative;
      display: flex;
      order: -1;

      button {
        padding: 0;
        outline: none;
        border: none;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        background-color: transparent;

        & > svg {
          width: 18px;
          height: 18px;
          fill: theme.var-of(text);
          opacity: 0.6;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
