.app {
  width: 80vw;
  max-width: 1040px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
}

.app .menu {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.app .menu > div {
  margin-top: 4px;
}

.app .menu .enabled {
  background-color: aqua;
}

.app .menu .enabling {
  background-color: greenyellow;
}

.app .menu .disabled {
  background-color: initial;
}

.app .menu .disabling {
  background-color: gray;
}
