@use "../../../theme";

.editor {
  // blockquote {
  //   border-left: 3px solid theme.var-of(quote);
  //   margin: 0;
  //   padding-left: 10px;
  //   font-style: italic;
  // }
  blockquote {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
